
@import "./global.css";

form {
    width: 430px;
    background-color: white;
    height: 630px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content:end;
    gap: 15px;
    border-radius: 15px;
  }

  .entries {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .devchat {
    margin-bottom: 40px;
  }

  input[type=email], input[type="password"] {
    width: 98%;
    height: 50px;
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0px;
    font-size: 15px;
    font-weight: 600;
    transition: width 0.3s ease;
  }

  input[type=email]:focus, input[type="password"]:focus {
    outline: none;
    width: 100%;
  }

  input[type=email]::placeholder, input[type="password"]::placeholder{
    font-size: 15px;
    font-weight: 500;
    color: #878787;
  }

  .rpassword{
    color: #7f8692;
    text-align: start;
    font-size: 15px;
  }

  .checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: monospace;
    font-size: 16px;
    color: #7f8692;
  }

  .checkbox label {
    cursor: pointer;

  }
  
  .checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #6272a4; /* cor do tema Dracula */
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
  }

  .checkbox input[type=checkbox]:checked{
    background-color: #9500ff;
    border-color: #9500ff;
  }

  .checkbox input[type=checkbox]:checked:hover{
    background-color:#7700cb;
    border-color: #7700cb;
  }

  .checkbox input[type=checkbox]:checked::before{
    content: "✔";
    color: #f8f8f2;
    font-size: 15px;
    position: absolute;
    left: 2px;
    top: -2px;
  }
  

  .submit-button{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  input[type=submit]{
    background-color:#9500ff;
    color: azure;
    height: 40px;
    width: 400px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-weight: 600;
    font-size: 15px;
    font-family: monospace;
  }

  input[type=submit]:hover{
    background-color:#7700cb;
  }

  .social-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-login p{
    color: #0d1117;
  }

  .firebase-auth{
    background-color: white;
  }

  .firebase-auth img{
    width: 40px;
  }
  
  button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgb(237, 237, 237);
  }
  
  .siginup{
    font-size: 16px;
    text-align:center;
    color: #0d1117;
  }

  #user {
    text-align: center;
  }
  
  #user img {
    border-radius: 50%;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.4);
  }
  